body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #4683b4af, #4364f7);
    color: #f2f2f2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    min-height: 100vh;
    text-align: center;
}

#checkboxDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.titulo {
    margin-top: 40px;
    font-size: 2em;
    text-align: center;
}

.toggle-button {
    margin: 20px 0;
    width: 220px;
    padding: 15px;
    background: #1E90FF;
    color: white;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-button:hover {
    background: #0b75d1;
    transform: scale(1.05);
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px 40px;
    width: 90%;
    max-width: 500px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.checkbox-group label {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #1E90FF;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.btn-primary,
.btn-secondary {
    padding: 12px;
    text-align: center;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: #1E90FF;
    color: white;
}

.btn-primary:hover {
    background: #0b75d1;
    transform: scale(1.05);
}

.btn-secondary {
    background: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background: #545b62;
    transform: scale(1.05);
}
